
body {
    background-color: #eee;
    color: #3f4950
}
.col-md-6.text-center {
    color: #7ab421;
}

.col-md-6.text-center b {
    color: #094468;
}

.col-md-6.text-center p:last-child {
    color: #5198d0;
    font-weight: 900;
    font-size: 150%;
}
